---
layout: page
title: Crack the Code
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp"><b>CRACK THE CODE</b></h1>
          <p class="animated fadeInUp">We support a community of data, analytics, and technology professionals who work for progressive causes</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>ABOUT US</h2>
            <!-- <p>We believe in community</p> -->
          </div>
          <p>Crack the Code supports the personal and professional growth of  people working in progressive data, analytics, and technology. We started as a conference series for women, genderqueer, and trans people working in the field, and we have expanded to organize events and trainings for people of all backgrounds.<p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE WANT TO BUILD A MORE EQUITABLE, INCLUSIVE, AND DIVERSE COMMUNITY</h2>
      <p>We want to empower traditionally under-represented groups to have careers in progressive data, technology, and analytics.</p>
      <p>We believe that everyone has a role to play in fostering such a community. Many of our events are open to all while some of our events create dedicated spaces for underrepresented groups.</p>
      <p>We are a volunteer-run organization.</p>
      <!--<a href="#" class="btn btn-view-works">View Works</a>-->
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Work</h2>
        <p>Here's what we've been up to...</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <ion-icon name="hand"></ion-icon>
          <h4>Conference</h4>
          <p>Our flagship event, the <a href="https://conference.crackthecode.io/">Crack the Code conference</a> is an annual meeting for women, genderqueer, and trans people working in our space.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <ion-icon name="cash"></ion-icon>
          <h4>Salary Survey</h4>
          <p>Our volunteers analyze an annual survey of data &amp; analytics professionals on their salaries, skills, and experience. Click to view results from <a href="https://www.crackthecode.io/salary2017">2017</a> and <a href="https://www.crackthecode.io/public/salary_survey2016.pdf" target = "_blank">2016</a>.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <ion-icon name="book"></ion-icon>
          <h4>Guides</h4>
          <p>Our members maintain the <a href="https://www.guide.progressivedatajobs.org/" target="_blank">Guide for Getting a Job in Progressive Analytics</a> and a <a href="http://bit.ly/ctcglossary" target="_blank">Glossary of Terms for Political Data</a> (In Progress). Let us know if you want to write more!</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <div class="service-item">
          <ion-icon name="contacts"></ion-icon>
          <h4>INDEX MATCH</h4>
          <p>A low-commitment mentorship program, INDEX MATCH is a way to meet with a fellow data &amp; analytics practitioners and share experiences and advice.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <ion-icon name="beer"></ion-icon>
          <h4>Happy Hours</h4>
          <p>We're organizing simultaneous happy hours in cities across the country for those already working in and new to progressive data &amp; analytics!</p>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>-->
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Do you want to be involved?</h2>
          <!-- <p>Let us know below.</p> -->
          <a class="btn btn-default btn-call-to-action" href="http://eepurl.com/dzZyhf" target="_blank">Sign Up Now!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start 
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->